@import "./config";
* {
  width: 100%;
  box-sizing: border-box;
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

.app-Container {
  width: 100%;
  // height: auto;
  // height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr 150px;
  grid-template-areas:
    "Header"
    "Main"
    "Footer";
  background-color: $background-Black;

  Header {
    grid-area: Header;
    top: 0;
  }
  main {
    color: white;
    grid-area: Main;
  }

  footer {
    grid-area: Footer;
    color: white;
  }
}
